.hover {
    display: inline-block;
    color: rgb(87, 100, 170);
    cursor: pointer;
}

.hover .hovertext {
    visibility: hidden;
    width: 170px;
    text-align: center;
    margin-left: 5px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 20px;
    position: absolute;
    color: black;
}

.hover:hover .hovertext {
    visibility: visible;
}

#brand {
    padding: 10px;
    width: 100px;
}

.date {
    float: right;
    font-size: 12px;
}

.title {
    margin-top: 20px;
}

.content {
    margin: 5px;
    margin-top: 20px;
}

.report {
    float: right;
}

#reason {
    width: 420px !important;
}

form {
    margin-top: 20px;
}

.col-sm-6 {
    margin: auto;
    margin-bottom: 25px;
    height: 100%;
}

.sort {
    font-size: 30px;
    color: black;
    text-decoration: none;
}

.header-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

h1{
    font-size: 30px;
}

#add{
    width: 100px;
    margin: 20px;
    margin-top: 0;
}

#name{
    max-width: 250px;
}

#title{
    max-width: 350px;
}

#content{
    height: 115px;
    resize: none;
}