.hover{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.hover .hovertext{
    visibility: hidden;
    width: 170px;
    text-align: center;
    margin-left: 5px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.hover:hover .hovertext {
  visibility: visible;
}

#brand{
    padding: 20px !important;
}

.date{
    float: right; 
    font-size: 18px;
}

.title{
    margin-top: 20px;
}

.content{
    margin: 5px;
    margin-top: 20px;
}

.report{
    float: right;
}

#reason{
    width: 420px !important;
}

form{
    margin-top: 30px;
}

.card{
    margin-bottom: 25px;
}

.header-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sort{
    float: right;
    font-size: 30px;
    color: black;
    text-decoration: none;
}
